<h1>New Board Game</h1>

<% if @board_game.errors.any? %>
  <h2>ERROR!</h2>
  <ul>
  <% @board_game.errors.full_messages.each do |error_msg| %>
    <li>
      <%= error_msg %>
    </li>
  <% end %>
  </ul>
<% end %>

<%= form_for @board_game do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br/>

  <%= f.label :publisher %>
  <%= f.text_field :publisher %><br/>

  <%= f.label :description %>
  <%= f.text_field :description %><br/>

  <%= f.label :release_date %>
  <%= f.date_select :release_date %><br/>

  <%= f.submit "Create Board Game" %>
<% end %>
